h1 {
    background-color: blueviolet;
    /* rgb is colour, rgba: last number is transparency */
    color: rgba(0, 0, 0, 0.7);
}

div {
    /* makes responsive width -> means changes with screen size */
    width: 100%;
    max-width: 600px;
    /* vh = 50 (takes 50% of the height of screen), vw = width of view port (when width gets bigger height gets bigger*/
    height: 50vh; 
    background-color: rgb(255, 253, 147);
    /* thickness of border, follow by style, color */
    border: 1px solid black;
    font-size: 20px;
    font-weight: 600;
    font-family: "roboto condensed", sans-serif; 
}

.top {
    width: 100%;
    max-width: 600px;
    height: 50vh; 
    background-color: rgb(231, 156, 156);
    border: 1px solid black;
    font-size: 20px;
    font-weight: 600;
    font-family: "roboto condensed", sans-serif;
}

.purple {
    /* can add !important next to colour to prioritise (more priority than id BUT makes styling harder avoid using) */
    color: purple;
}

.blue {
    color: blue;
}